/**
 * @name CleanBlack
 * @description A Clean Black Discord Theme
 * @author RusticGGG
 * @version 1.0.0
 * @authorId 764554949362974740
 * @website https://rusticggg.github.io/
*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@100;300;400;500;700&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --accentcolor: 114,137,218;
  --accentcolor2: 255,115,250;
  --linkcolor: 0,176,244;
  --mentioncolor: 250,166,26;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: Ubuntu;
  --backgroundaccent: 49,49,49;
  --backgroundprimary: 0,0,0;
  --backgroundsecondary: 0,0,0;
  --backgroundsecondaryalt: 0,0,0;
  --backgroundtertiary: 0,0,0;
  --backgroundfloating: 0,0,0;
  --settingsicons: 1;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


